@model EqptInv.Models.MachineListViewModel
@{
    ViewBag.Title = "Equipment Inventory";
}

<h2>@ViewBag.Title</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Make</th>
            <th>Model</th>
            <th>Equipment Number</th>
            <th>Hours</th>
        </tr>
    </thead>

    <tbody>
        @for (var i = 0; i < Model.MachineCounter; i++)
    {
        <tr>
            <td>@Model.Machines[i].Make</td>
            <td>@Model.Machines[i].Model</td>
            <td>@Model.Machines[i].Num</td>
            <td>@Model.Machines[i].Hours</td>
            <td>@Html.ActionLink("Detail", "MachineDetail", new { id = Model.Machines[i].Id })</td>
            <td>@Html.ActionLink("Edit", "MachineEdit", new { id = Model.Machines[i].Id })</td>
            <td> <a data-toggle="modal" href="@("#deleteMachineModal" + i)">Delete</a>
                <div class="modal fade" id="@("deleteMachineModal" + i)" tabindex="-1" role="dialog">
                    <div class="modal-dialog">
                        @using (Html.BeginForm("DeleteMachine", "Machine"))
                        {
                            <input type="hidden" value="@Model.Machines[i].Id" name="MachineId" />
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Delete @Model.Machines[i].MachineName</h4>
                            </div>
                            <div class="modal-body">
                                Do you really want to delete @Model.Machines[i].MachineName?
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-primary">Yes</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            </div>
                        }
                    </div>
                </div>
            </td>
        </tr>
    }

    </tbody>
</table>
<div>@Html.ActionLink("Add", "MachineAdd", null, new { @class = "btn btn-primary" })</div>

