@model EqptInv.Models.MachineListViewModel
@{
    ViewBag.Title = "Equipment Inventory";
}

<h2>@ViewBag.Title</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Make</th>
            <th>Model</th>
            <th>Equipment Number</th>
            <th>Hours</th>
        </tr>
    </thead>
    <tbody>
        @for (var i = 0; i < Model.MachineCounter; i++)
    {
        <tr>
            <td>@Model.Machines[i].Make</td>
            <td>@Model.Machines[i].Model</td>
            <td>@Model.Machines[i].Num</td>
            <td>@Model.Machines[i].Hours</td>
            <td>@Html.ActionLink("Detail", "MachineDetail", new { id = Model.Machines[i].Id })</td>
        </tr>
    
}
    </tbody>
</table>
<div>@Html.ActionLink("Add", "MachineAdd", null, new { @class = "btn btn-primary" })</div>
